<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="bg-dark text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Information about Mars</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>News</h2>
                    <h3>{{mars.news.title}}</h3>
                    <p>{{mars.news.description}}</p>
                </div>
                <div class="col-md-4">
                    <h2>Featured Mars Image</h2>
                    <img src="{{mars.spaceimg}}">
                </div>
                <div class="col-md-4">
                    <h2>Mars Statistics</h2><br>
                    <table  class="table-striped">
                        <thead>
                          <tr style="text-align: right;">
                            <th></th>
                            <th>Value</th>
                          </tr>
                          <tr>
                            <th>Property</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Equatorial Diameter:</th>
                            <td>6,792 km</td>
                          </tr>
                          <tr>
                            <th>Polar Diameter:</th>
                            <td>6,752 km</td>
                          </tr>
                          <tr>
                            <th>Mass:</th>
                            <td>6.39 × 10^23 kg (0.11 Earths)</td>
                          </tr>
                          <tr>
                            <th>Moons:</th>
                            <td>2 ( Phobos &amp; Deimos )</td>
                          </tr>
                          <tr>
                            <th>Orbit Distance:</th>
                            <td>227,943,824 km (1.38 AU)</td>
                          </tr>
                          <tr>
                            <th>Orbit Period:</th>
                            <td>687 days (1.9 years)</td>
                          </tr>
                          <tr>
                            <th>Surface Temperature:</th>
                            <td>-87 to -5 °C</td>
                          </tr>
                          <tr>
                            <th>First Record:</th>
                            <td>2nd millennium BC</td>
                          </tr>
                          <tr>
                            <th>Recorded By:</th>
                            <td>Egyptian astronomers</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h1>Mar's Hemispheres and its pictures</h1>
                        {%for hemisphere in mars.hemispheres%}    
                        <h2>{{hemisphere.title}}</h2>
                        <p> Picture: {{hemisphere.img_url}}</p><br>

                        {%endfor%}  
                    </div>

                </div>

            </div>

        </div>


    </div>
    
</body>
</html>