<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="bg-dark text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Information about Mars</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>News</h2>
                    <h3>{{mars.news.title}}</h3>
                    <p>{{mars.news.description}}</p>
                </div>
                <div class="col-md-4">
                    <h2>Featured Mars Image</h2>
                    <img src="{{mars.spaceimg}}">
                </div>
                <div class="col-md-4">
                    <h2>Mars Statistics</h2><br>
                    <div>
                      {{mars.marsdata|safe}}


                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h1>Mar's Hemispheres and its pictures</h1>
                        {%for hemisphere in mars.hemispheres%}    
                        <h2>{{hemisphere.title}}</h2>
                        <p> Picture: <a href={{hemisphere.img_url}}><img src={{hemisphere.img_url}} alt=Link></a></p><br>
                        {%endfor%}  
                    </div>

                </div>

            </div>

        </div>

    </div>
    
</body>
</html>